.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }
  &__input + &__button {
    color: var(--color-grey-light-4);
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-light-4);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }
  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    left: 3.37rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__friend {
    display: flex;
  }

  &__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media screen and (max-width: 56.25em) {
    // 900px
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  &__item {
    @media screen and (max-width: 56.25em) {
      // 900px
      flex: 1;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: 37.5em) {
      // 600px
      flex-direction: column;
      padding: 1rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media screen and (max-width: 37.5em) {
      // 600px
      margin-right: 0;
      margin-bottom: 7px;
    }
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media screen and (max-width: 56.25em) {
    // 900px
    display: none;
  }
}

.gallery {
  display: flex;
  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #999;
  background-color: #fff;

  &__heading {
    font-style: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media screen and (max-width: 37.5em) {
      // 600px
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__icon,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
  }
  .overview__stars {
    margin-right: auto;
    display: flex;
    fill: var(--color-primary);
  }
  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  &__icon-location {
    margin-right: 0.5rem;
    fill: var(--color-primary);
  }

  &__rating {
    background-color: var(--color-primary);
    color: white;
    align-self: stretch;
    margin-left: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 37.5em) {
      // 600px
      padding: 0 1.5rem;
    }
  }
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    padding: 0 2.25rem;
    margin-bottom: -3px;
  }
  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: 1.2rem;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
  }
  &:hover {
    color: var(--color-grey-dark-1);
  }
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);

  @media screen and (max-width: 56.25em) {
    // 900px
    padding: 2.75rem;
  }

  @media screen and (max-width: 37.5em) {
    // 600px
    flex-direction: column;
  }
}

.description {
  font-size: 1.4rem;
  background-color: white;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;

  @media screen and (max-width: 56.25em) {
    // 900px
    padding: 2rem;
    margin-right: 3rem;
  }

  @media screen and (max-width: 37.5em) {
    // 600px
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.user-review {
  background-color: yellowgreen;
  flex: 1;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  padding: 3rem 0;
  margin: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }
  &__item:before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 56.25em) {
    // 900px
    padding: 2rem;
    margin-bottom: 3rem;
  }
  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
    text-align: left;
  }
  &__user {
    display: flex;
  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
  }
  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    text-align: left;
  }
  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }
  &__rating {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -8.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
  }
}

.cta {
  background-color: #fff;
  padding: 3.5rem;
  text-align: center;

  @media screen and (max-width: 56.25em) {
    // 900px
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: var(--color-grey-dark-2);
  }
}

.btn {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 300;
  color: #fff;
  padding: 2rem 7.5rem;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  border-radius: 100px;
}
