.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  @media screen and (max-width: 75em) {
    // 1200px
    margin: 0;
    max-width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  min-height: 7rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

  @media screen and (max-width: 56.25em) {
    // 900px
    display: flex;
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
}

.user-reviews {
  text-align: center;
}
